.venv/
.git/
.pytest_cache/
__pycache__/
*.pyc
*.db
*.db-shm
*.db-wal
*.mmdb
*.cert
*.key
config.yaml
config-docker.yaml
backups/
docs/
tests/
argus/
security_shallots.egg-info/
setup/
CLAUDE.md
collab/
*.md
.gitignore
